body {
  background-color: #231651;
}
h1,
p {
  font-family: Lato;
}

--aquamarine: #85ffc7ff;
--skobeloff: #297373ff;
--lavender-blush: #fceff9ff;
--russian-violet: #231651ff;
--terra-cotta: #e07a5fff;
