.header {
  background-color: #fceff9;
  padding: 2% 1%;
  margin-top: 0;
  border-radius: 12px;
  color: #231651;
  font-family: 'Courier New', monospace;
}

.header h1 {
  font-family: inherit;
  font-size: 3em;
  padding-left: 10%;
  font-weight: bold;
}

.header p {
  text-align: right;
  margin-right: 2%;
}
