.trackCoinForm {
  background-color: #fceff9;
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 1%;
}

.trackCoinForm label {
  padding: 1%;
  font-size: 1.3em;
  font-weight: bolder;
}

.trackCoinForm button {
  padding: 1%;
  border-radius: 4px;
  font-size: 1.3em;
  background-color: #231651;
  color: white;
  font-weight: bolder;
}

.trackCoinForm input {
  font-size: 1.2em;
  width: 60%;
}

.trackCoinForm button:hover {
  background-color: #402897;
  box-shadow: 5%;
}
